/* GRID CSS*/
.landingPageGrid{
    height: 100vh;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ui.grid{
    margin-left: 0rem;
    margin-right: 0rem;
}


/**/

/*Main page content*/
.landingPageMainRow{
    height: 88vh;
}

.row{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}


.landingPageCard{
    min-width: 425px;
}


/**/







