.landingPageMainRow{
    height: 92vh
}


.landingPageGrid{
    height: 100vh;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.landingPageCardContent{
}