.landingPageMainRow{
    height: 88vh;
    border: 5px solid red;
}

.landingPageFooter{
    height: 4vh;
    border: 5px solid purple;
    font-weight: bolder;
    color: yellow;
}

.landingPageColumn{
}

.landingPageGrid{
    height: 100vh;
    background-image: url("./assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.landingPageCardContent{
    min-width: 400px;
}