/* GRID CSS*/
.writingPageGrid{
    overflow: auto;
    height: 100%;
}

.ui.grid{
    margin-left: 0rem;
    margin-right: 0rem;
}


/**/

/*Main page content*/
.writingPageMainRow{
    height: 90%;
    width: 100%;
    padding-top: 5px;
    overflow: hidden;
    overflow-y: auto;
}

.row{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}


.writingPageCard{
    min-width: 425px;
}


/**/

