/* GRID CSS*/
.writingPageGrid{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ui.grid{
    margin-left: 0rem;
    margin-right: 0rem;
}


/**/

/*Main page content*/
.writingPageMainRow{
    height: 90vh;
}

.row{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}


.writingPageCard{
    min-width: 425px;
}


/**/

